<table class="table table-striped">
  <tr>
    <th>Firstname</th>
    <th>Lastname</th> 
    <th>Email</th>
    <th>Last Login</th>
    <th> </th>
  </tr>
  <% users.each do |user| %>
    <tr>
        <td><%= user.firstname %></td>
        <td><%= user.lastname %></td> 
        <td><%= user.email %></td>
        <td><%= user.last_sign_in_at %></td>
        <td>
        <%= link_to 'Edit', {:controller => "users", :action => "edit", :id => user.id }, class: "btn btn-success show-edit-photo" %>
        <%= link_to 'Delete', {:controller => "users", :action => "destroy", :id => user.id }, class: "btn btn-danger show-edit-photo " %>
        </td>
    </tr>
  <% end %>
</table>