<div class="posts-in-user">
    <% users.each do |user| %>
    <div class="col-lg-3 col-md-6 following-of-user">
        <div class="user-following">
            <div class="avatar-user-following">
                <img class="avatar-user" src=<%= user.avatar_link %>>
            </div>
            <div class="username-user-following">
                <span><%= user.username %></span>
            </div>
            <div class="row">
                <div class="col-sm-6 photos-user-following">
                    <span><%= user.photos.size %></span><br>
                    <span>PHOTOS</span>
                </div>
                <div class="col-sm-6 albums-user-following">
                    <span><%= user.albums.size %></span><br>
                    <span>ALBUMS</span>
                </div>
            </div>
            <%= form_for(@user.active_user_followings.find_by(followed_id: user.id),
                    html: { method: :delete }, remote: true) do |f| %>
                <%= f.submit "unfollow", class: "follow follow-span" %>
            <% end %>
        </div>
    </div>
    <% end %>
</div>
