<div class="row container-edit-user">
  <div class="col-md-2"></div>
  <div class="col-md-8 content-edit-form">
    <div class="title-edit-user">
      <h2>Edit User Profile</h2>
    </div>
    <div class="content-edit-user row">
        <div class="account-wall">
          <div class="form-signin">

            <div class="edit-profile"> 
                <%= form_for(@user, :html => { :multipart => true }) do |f| %>
                    <div class="choose-image">
                        <div class="choose-file-field">
                            <%= f.file_field :avatar, id: "avatar-upload" %>
                        </div>
                        <% if check_avatar_exist?(@user) %>
                            <div class="choose-image-field">
                                <img id="avatar_prev" width=300 height=300 src=<%= url_for(@user.avatar) %> class="img-thumbnail up-index"/>
                            </div>
                        <% else %>
                            <div class="choose-image-field">
                                <img id="avatar_prev" width=300 height=300 src="#" class="img-thumbnail"/>
                            </div>
                        <% end %>
                    </div>

                    <div class="field">
                    <%= f.label :firstname %><br />
                    <%= f.text_field :firstname, autofocus: true, autocomplete: "firstname", class: "form-control" %>
                    </div>

                    <div class="field">
                    <%= f.label :lastname %><br />
                    <%= f.text_field :lastname, class: "form-control" %>
                    </div>

                    <div class="field">
                    <%= f.label :email %><br />
                    <%= f.email_field :email, autocomplete: "email" %>
                    </div>

                    <div class="actions">
                    <%= f.submit "Save", class: "btn btn-success" %>
                    </div>
                <% end %>
            </div>
            
        </div>
    </div>
  </div>
</div>
