<p><%= flash[:notice] %></p>
<div class="container row">
    <%= render partial: "home/option_feeds_discover" %>
    <div class="col-sm-8 profile-user">
        <div class="row info-user">
            <div class="col-sm-3 content-avatar-user-info">
                <img class="avatar-user" src="https://i.imgur.com/FYySxYP.png">
            </div>
            <div class="col-sm-9 content-info-user-info">
                <div class="follow"><span class="follow-span">follow</span></div>
                <p class="name"><b><%= @user.username %></b></p>
                <div class="account">
                    <ul class="nav nav-tabs">   
                        <li class="active"><a data-toggle="tab" href="#home-photos"><span class="count-in-user"><%= @user.photos.size %></span> PHOTOS</a></li>  
                        <li><a data-toggle="tab" href="#menu-albums"><span class="count-in-user"><%= @user.albums.size %></span> ALBUMS</a></li> 
                        <li><a data-toggle="tab" href="#menu-followings"><span class="count-in-user"><%= @user.followings.size %></span> FOLLOWINGS</a></li> 
                        <li><a data-toggle="tab" href="#menu-followers"><span class="count-in-user"><%= @user.followers.size %></span> FOLLOWERS</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row album-user tab-content">
            <div id="home-photos" class="tab-pane fade in active">
                <%= render partial: "photos_user", locals: { images: @photos } %>
            </div>
            <div id="menu-albums" class="tab-pane fade">
                <%= render partial: "albums_user", locals: { albums: @albums } %>
            </div>
            <div id="menu-followings" class="tab-pane fade">
                <%= render partial: "followings_user", locals: { users: @user_followings } %>
            </div>
            <div id="menu-followers" class="tab-pane fade">
                <%= render partial: "followers_user", locals: { users: @user_followers, current_user: @user } %>
            </div>
        </div>  

    </div>    
  
  </div>