<h1>VIEWS/USERS/SHOW</h1>

<h3>USERs</h3>
<table>
    <tr>
        <th>ID</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Username</th>
    </tr>
    <tr>
        <td><%= @user.id %></td>
        <td><%= @user.firstname %></td>
        <td><%= @user.lastname %></td>
        <td><%= @user.username %></td>
    </tr>
</table>

<div class="profile-user">
      <div class="info-user">
            <img class="avatar-user" src="https://i.imgur.com/FYySxYP.png">
            <div class="content-info-user-info">
                <div class="follow"><span class="follow-span">follow</span></div>
                <p class="name"><b><%= @user.username %></b></p>
                <p class="account"><span><%= @count_photo %></span> PHOTOS  |  <span><%= @count_album %></span> <span class="albums">ALBUMS</span> | <span><%= @count_following %></span> FOLLOWINGS | <span><%= @count_follower %></span> FOLLOWERS</p>
            </div>
      </div>
      <div class="album-user">
        <div class="album-picture">
            <div class="square picture-first">
                <img class="picture" src="https://i.imgur.com/UQ7fiuh.jpg">
                <div class="title-hover">
                    <p class="title"><span>13</span> <br> PHOTOS</p>
                </div>
            </div>
            <div class="square picture-second">
                <img class="picture" src="https://i.imgur.com/UQ7fiuh.jpg">
            </div>
            <div class="square picture-third">
                <img class="picture" src="https://i.imgur.com/UQ7fiuh.jpg">
            </div>
            <div class="title-album"><span>Album title goes here</span></div>
        </div>
        <div class="album-picture">
            <div class="square picture-first">
                <img class="picture" src="https://i.imgur.com/AzBCEUW.jpg">
                <div class="title-hover">
                    <p class="title"><span>24</span> <br> PHOTOS</p>
                </div>
            </div>
            <div class="square picture-second">
                <img class="picture" src="https://i.imgur.com/AzBCEUW.jpg">
            </div>
            <div class="square picture-third">
                <img class="picture" src="https://i.imgur.com/AzBCEUW.jpg">
            </div>
            <div class="title-album"><span>Album title goes here</span></div>
        </div>
        <div class="album-picture">
            <div class="square picture-first">
                <img class="picture" src="https://i.imgur.com/kkApOoO.jpg">
                <div class="title-hover">
                    <p class="title"><span>2</span> <br> PHOTOS</p>
                </div>
            </div>
            <div class="square picture-second">
                <img class="picture" src="https://i.imgur.com/kkApOoO.jpg">
            </div>
            <div class="square picture-third">
                <img class="picture" src="https://i.imgur.com/kkApOoO.jpg">
            </div>
            <div class="title-album"><span>Album title goes here</span></div>
        </div>
        <div class="album-picture">
            <div class="square picture-first">
                <img class="picture" src="https://i.imgur.com/UQ7fiuh.jpg">
                <div class="title-hover">
                    <p class="title"><span>7</span> <br> PHOTOS</p>
                </div>
            </div>
            <div class="square picture-second">
                <img class="picture" src="https://i.imgur.com/UQ7fiuh.jpg">
            </div>
            <div class="square picture-third">
                <img class="picture" src="https://i.imgur.com/UQ7fiuh.jpg">
            </div>
            <div class="title-album"><span>Album title goes here</span></div>
        </div>
        <div class="album-picture">
            <div class="square picture-first">
                <img class="picture" src="https://i.imgur.com/AzBCEUW.jpg">
                <div class="title-hover">
                    <p class="title"><span>4</span> <br> PHOTOS</p>
                </div>
            </div>
            <div class="square picture-second">
                <img class="picture" src="https://i.imgur.com/AzBCEUW.jpg">
            </div>
            <div class="square picture-third">
                <img class="picture" src="https://i.imgur.com/AzBCEUW.jpg">
            </div>
            <div class="title-album"><span>Album title goes here</span></div>
        </div>
        <div class="album-picture">
            <div class="square picture-first">
                <img class="picture" src="https://i.imgur.com/kkApOoO.jpg">
                <div class="title-hover">
                    <p class="title"><span>27</span> <br> PHOTOS</p>
                </div>
            </div>
            <div class="square picture-second">
                <img class="picture" src="https://i.imgur.com/kkApOoO.jpg">
            </div>
            <div class="square picture-third">
                <img class="picture" src="https://i.imgur.com/kkApOoO.jpg">
            </div>
            <div class="title-album"><span>Album title goes here</span></div>
        </div>
        <div class="album-picture">
            <div class="square picture-first">
                <img class="picture" src="https://i.imgur.com/UQ7fiuh.jpg">
                <div class="title-hover">
                    <p class="title"><span>9</span> <br> PHOTOS</p>
                </div>
            </div>
            <div class="square picture-second">
                <img class="picture" src="https://i.imgur.com/UQ7fiuh.jpg">
            </div>
            <div class="square picture-third">
                <img class="picture" src="https://i.imgur.com/UQ7fiuh.jpg">
            </div>
            <div class="title-album"><span>Album title goes here</span></div>
        </div>
        <div class="album-picture">
            <div class="square picture-first">
                <img class="picture" src="https://i.imgur.com/AzBCEUW.jpg">
                <div class="title-hover">
                    <p class="title"><span>11</span><br> PHOTOS</p>
                </div>
            </div>
            <div class="square picture-second">
                <img class="picture" src="https://i.imgur.com/AzBCEUW.jpg">
            </div>
            <div class="square picture-third">
                <img class="picture" src="https://i.imgur.com/AzBCEUW.jpg">
            </div>
            <div class="title-album"><span>Album title goes here</span></div>
        </div>
        <div class="album-picture">
            <div class="square picture-first">
                <img class="picture" src="https://i.imgur.com/kkApOoO.jpg">
                <div class="title-hover">
                    <p class="title"><span>3</span> <br> PHOTOS</p>
                </div>
            </div>
            <div class="square picture-second">
                <img class="picture" src="https://i.imgur.com/kkApOoO.jpg">
            </div>
            <div class="square picture-third">
                <img class="picture" src="https://i.imgur.com/kkApOoO.jpg">
            </div>
            <div class="title-album"><span>Album title goes here</span></div>
        </div>
        <div class="album-picture">
            <div class="square picture-first">
                <img class="picture" src="https://i.imgur.com/UQ7fiuh.jpg">
                <div class="title-hover">
                    <p class="title"><span>15</span> <br> PHOTOS</p>
                </div>
            </div>
            <div class="square picture-second">
                <img class="picture" src="https://i.imgur.com/UQ7fiuh.jpg">
            </div>
            <div class="square picture-third">
                <img class="picture" src="https://i.imgur.com/UQ7fiuh.jpg">
            </div>
            <div class="title-album"><span>Album title goes here</span></div>
        </div>
        <div class="album-picture">
            <div class="square picture-first">
                <img class="picture" src="https://i.imgur.com/AzBCEUW.jpg">
                <div class="title-hover">
                    <p class="title"><span>10</span> <br>  PHOTOS</p>
                </div>
            </div>
            <div class="square picture-second">
                <img class="picture" src="https://i.imgur.com/AzBCEUW.jpg">
            </div>
            <div class="square picture-third">
                <img class="picture" src="https://i.imgur.com/AzBCEUW.jpg">
            </div>
            <div class="title-album"><span>Album title goes here</span></div>
        </div>
        <div class="album-picture">
            <div class="square picture-first">
                <img class="picture" src="https://i.imgur.com/kkApOoO.jpg">
                <div class="title-hover">
                    <p class="title"><span>6</span> <br> PHOTOS</p>
                </div>
            </div>
            <div class="square picture-second">
                <img class="picture" src="https://i.imgur.com/kkApOoO.jpg">
            </div>
            <div class="square picture-third">
                <img class="picture" src="https://i.imgur.com/kkApOoO.jpg">
            </div>
            <div class="title-album"><span>Album title goes here</span></div>
        </div>

      </div>
  </div>      