<p><%= flash[:notice] %></p>
<div class="container row">
    <div class="col-md-2"></div>
    <div class="col-md-8 profile-user">
        <div class="row info-user">
            <div class="col-sm-3 content-avatar-user-info">
                <div class="content-avatar">
                    <% if @user.avatar.attached? %>
                        <img class="avatar-user" src=<%= url_for(@user.avatar) %>>
                    <% end %>
                </div>
            </div>
            <div class="col-sm-9 content-info-user-info">
                <div class="follow follow-span"><%= link_to "Edit Profile", edit_user_registration_path %></div>
                <p class="name"><b><%= (current_user.firstname+ " " + current_user.lastname).titleize() %></b></p>
                <div class="account">
                    <ul class="nav nav-tabs">   
                        <li class="active"><a data-toggle="tab" href="#menu-photos"><span class="count-in-user"><%= @user.photos.size %></span> PHOTOS</a></li>  
                        <li><a data-toggle="tab" href="#menu-albums"><span class="count-in-user"><%= @user.albums.size %></span> ALBUMS</a></li> 
                        <li><a data-toggle="tab" href="#menu-followings"><span class="count-in-user"><%= @user.followings.size %></span> FOLLOWINGS</a></li> 
                        <li><a data-toggle="tab" href="#menu-followers"><span class="count-in-user"><%= @user.followers.size %></span> FOLLOWERS</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row album-user tab-content">
            <div id="menu-photos" class="tab-pane fade in active">
                <% if current_user == @user %>
                    <div class="show-new-photo">
                        <%= link_to "New Photo", new_user_photo_path(current_user.id), class: "btn new-photo-button" %>
                    </div>
                    <%= render partial: "photos_user", locals: { photos: @photos } %>
                <% else %>
                    <%= render partial: "photos_user", locals: { photos: @photos_public } %>
                <% end %>
            </div>
            <div id="menu-albums" class="tab-pane fade">
                <% if current_user == @user %>    
                    <div class="show-new-photo">
                        <%= link_to "New Album", new_user_album_path(current_user.id), class: "btn new-photo-button" %>
                    </div>
                <% end %>
                <%= render partial: "albums_user", locals: { albums: @albums } %>
            </div>
            <div id="menu-followings" class="tab-pane fade">
                <%= render partial: "followings_user", locals: { users: @user_followings } %>
            </div>
            <div id="menu-followers" class="tab-pane fade">
                <%= render partial: "followers_user", locals: { users: @user_followers, current: @user } %>
            </div>
        </div>  
    </div>    
    <div class="col-md-2 ads-user">

    </div>
</div>