<h1>VIEWS/USERS/SHOW</h1>
<% @photo_links.pluck(:image_url).each do |link| %>
    <p><%= link %></p>
<% end %>
<div class="row">
    <%= render partial: "home/option_feeds_discover" %>
    <div class="col-sm-8 profile-user">
        <div class="row info-user">
            <div class="col-sm-3 content-avatar-user-info">
                <img class="avatar-user" src="https://i.imgur.com/FYySxYP.png">
            </div>
            <div class="col-sm-9 content-info-user-info">
                <div class="follow"><span class="follow-span">follow</span></div>
                <p class="name"><b><%= @user.username %></b></p>
                <p class="account"><span><%= @count_photo %></span> PHOTOS  |  <span><%= @count_album %></span> <span class="albums">ALBUMS</span> | <span><%= @user.followings.size %></span> FOLLOWINGS | <span><%= @user.followers.size %></span> FOLLOWERS</p>
            </div>
        </div>
        <div class="row album-user">
            <div class="col-lg-3 col-md-6">
                <div class="pictures-in-user">
                    <img class="picture-post" src="https://i.imgur.com/UQ7fiuh.jpg">
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="pictures-in-user">
                    <img class="picture-post" src="https://i.imgur.com/UQ7fiuh.jpg">
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="pictures-in-user">
                    <img class="picture-post" src="https://i.imgur.com/UQ7fiuh.jpg">
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="pictures-in-user">
                    <img class="picture-post" src="https://i.imgur.com/UQ7fiuh.jpg">
                </div>
            </div>
        </div>  

    </div>    
  
  </div>