<div class="row">
  <div class="form-devise col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
    <h2 class="title-devise">Forgot password?</h2>
    <div class="user-reset-password account-wall">
      <div class="form-signin">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= devise_error_messages! %>

          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "user-email" %>
          </div>

          <div class="actions send-mail-to-reset-password">
            <%= f.submit "Send me", class: "btn btn-signin" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
