<div class="container">
    <div class="row content tab-content">
        <%= render partial: "option_feeds_discover" %>

        <div id="option-feeds" class="col-md-8 main-content-feeds tab-pane fade in active tab-content">
            <p> feeds </p>
            <%= render partial: "option_photo_album", locals: { type: "feeds" } %>       
            <div id="option-photo-feeds"  class="content-post-photos tab-pane fade in active">
                <div id="photos_feeds">
                    <%= render 'photos_feeds' %>
                </div>
            </div>
            <div id="option-album-feeds" class="content-post-albums row tab-pane fade">
                <div id="albums_feeds">
                    <%= render 'albums_feeds' %>
                </div>
            </div>            
        </div>
    <% if type == "user" %>
        <div id="option-discover" class="col-md-8 main-content-discover tab-pane fade tab-content">
            <p> discover </p>
            <%= render partial: "option_photo_album", locals: { type: "discover" } %>
            <div id="option-photo-discover" class="content-post-photos row tab-pane fade in active">
                <div id="photos_discover">
                    <%= render 'photos_discover' %>
                </div>
            </div>
            <div id="option-album-discover" class="content-post-albums row tab-pane fade">
                <div id="albums_discover">
                    <%= render 'albums_discover' %>
                </div>
            </div>
        </div>
    <% end %>
    
        <div class="col-md-2 option-ads">

        </div>
    </div>
</div>

