<div class="col-lg-6 content-post-part">
    <div class="this-post">
        <div class="row this-post-row">
            <div class="this-post-picture col-sm-7">
                <div class="contain-picture-post">
                    <% if !photo.image.image_url.nil? %>
                    <img class="picture-post" data-toggle="modal" data-target="#myModal-<%= type %><%= photo.id %>" src=<%= photo.image.image_url %>>
                    <% end %>
                </div>
            </div>
            <div class="this-post-info col-sm-5 col-xs-12">
                <div class="user-of-post">
                    <img class="avatar-user" src="https://i.imgur.com/AqmDqLt.png">
                    <span><%= photo.user.username %></span>
                    <p><%= photo.id %></p>
                </div>
                <div class="title-of-post">
                    <span><b><%= photo.title %></b></span>
                </div>
                <div class="content-of-post">
                    <span><%= photo.description %>asdsadasdasdasdasdsadasdsaadsadsadsadasdadsadasdasdsasdsdsds</span>
                </div>
                <div class="likes-and-date-of-post">
                    <span>30 likes</span><span><%= photo.updated_at %></span>
                </div>
            </div>
        </div>
    </div>
</div>

