<h1>HOME</h1>

<%= link_to "Profile" , user_path(2) %>

<h3 class="title-photo">PHOTOs Feeds</h3>
<table>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Description</th>
        <th>Sharing Mode</th>
        <th>User ID</th>
    </tr>
    <% @photos_feeds.each do |photo| %>
    <tr>
        <td><%= photo.id %></td>
        <td><%= photo.title %></td>
        <td><%= photo.description %></td>
        <td><%= photo.private %></td>
        <td><%= photo.user_id %></td>
    </tr>
    <% end %>
</table>

<p> FROM HOME CONTROLLER <%= @mess %> </p>

<h3>ALBUMs Feeds</h3>
<table>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Description</th>
        <th>Sharing Mode</th>
        <th>User ID</th>
    </tr>
    <% @albums_feeds.each do |album| %>
    <tr>
        <td><%= album.id %></td>
        <td><%= album.title %></td>
        <td><%= album.description %></td>
        <td><%= album.private %></td>
        <td><%= album.user_id %></td>
    </tr>
    <% end %>
</table>

<h3>PHOTOs Discover</h3>
<table>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Description</th>
        <th>Sharing Mode</th>
        <th>User ID</th>
    </tr>
    <% @photos_discover.each do |photo| %>
    <tr>
        <td><%= photo.id %></td>
        <td><%= photo.title %></td>
        <td><%= photo.description %></td>
        <td><%= photo.private %></td>
        <td><%= photo.user_id %></td>
    </tr>
    <% end %>
</table>

<h3>ALBUMs Discover</h3>
<table>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Description</th>
        <th>Sharing Mode</th>
        <th>User ID</th>
    </tr>
    <% @albums_discover.each do |album| %>
    <tr>
        <td><%= album.id %></td>
        <td><%= album.title %></td>
        <td><%= album.description %></td>
        <td><%= album.private %></td>
        <td><%= album.user_id %></td>
    </tr>
    <% end %>
</table>
<h1 id="postt">POSTTT</h1>
<div class="container">
    <div class="row content">
        <div class="col-sm-2 option-content">
            <p>Feeds</p>
            <p>Discover</p>
        </div>
        <div class="col-sm-8 main-content">
            <div class="option-photo-album">
                <button id="show-photos">PHOTO</button>
                <button id="show-albums">ALBUM</button>    
            </div>
            <div class="content-post-photos row">
                <% @photos_feeds.each do |photo| %>
                <div class="col-lg-6 content-post-part">
                    <div class="this-post">
                        <div class="row this-post-row">
                            <div class="this-post-picture col-sm-7">
                                <img class="picture" src="https://i.imgur.com/UQ7fiuh.jpg">
                            </div>
                            <div class="this-post-info col-sm-5 col-xs-12">
                                <div class="user-of-post">
                                    <img class="avatar-user" src="https://i.imgur.com/AqmDqLt.png">
                                    <span>Diep Toan</span>
                                </div>
                                <div class="title-of-post">
                                    <span><b><%= photo.title %></b></span>
                                </div>
                                <div class="content-of-post">
                                    <span><%= photo.description %></span>
                                </div>
                                <div class="like-time-of-post">
                                    <span>30 likes</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <% end %>
            </div>

            <div class="content-post-albums row">
                <% @albums_feeds.each do |album| %>
                <div class="col-lg-6 content-post-part">
                    <div class="this-post">
                        <div class="row this-post-row">
                            <div class="this-post-picture col-sm-7">
                                <img class="picture" src="https://i.imgur.com/UQ7fiuh.jpg">
                            </div>
                            <div class="this-post-info col-sm-5 col-xs-12">
                                <div class="user-of-post">
                                    <img class="avatar-user" src="https://i.imgur.com/AqmDqLt.png">
                                    <span>Diep Toan</span>
                                </div>
                                <div class="title-of-post">
                                    <span><b><%= album.title %></b></span>
                                </div>
                                <div class="content-of-post">
                                    <span><%= album.description %></span>
                                </div>
                                <div class="like-time-of-post">
                                    <span>30 likes</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <% end %>
            </div>

        </div>
        <div class="col-sm-2 ads-content">

        </div>
    </div>
</div>
