<p><%= t("hello.hello_world") %></p>
<h3><%= flash[:notice] %></h3>
<p><%= Time.now.strftime(t(".time_default")) %></p>
<p><%= t".address" %></p>
    <p><%= t"currency" '100' %></p>

<div class="container">
    <div class="row content">
        <%= render partial: "option_feeds_discover" %>
        <div class="col-sm-8 main-content-feeds">
            <h3>FEEDS.</h3>
            <%= render partial: "option_photo_album" %>
            <div class="content-post-photos row">
                <% @photos_feeds.each do |photo| %>
                    <%= render partial: "photos_post", locals: { photo: photo, type: "feeds" } %>
                    <%= render partial: "modal_photo", 
                            locals: { url: photo.image.image_url, 
                                      title: photo.title, 
                                      description: photo.description, 
                                      id: "feeds"+photo.id.to_s } %>
                <% end %>
            </div>

            <div class="content-post-albums row">
                <% @albums_feeds.each do |album| %>
                    <%= render partial: "albums_post", locals: { album: album, type: "feeds" } %>
                    <%= render partial: "modal_album", 
                            locals: { url: album.images.pluck(:image_url), 
                                      id: "feeds"+album.id.to_s } %>
                <% end %>
            </div>

        </div>

        <div class="col-sm-8 main-content-discover">
            <h3>DISCOVER.</h3>
            <%= render partial: "option_photo_album" %>
            <div class="content-post-photos row">
                <% @photos_discover.each do |photo| %>
                    <%= render partial: "photos_post", locals: { photo: photo, type: "discover" } %>
                    <%= render partial: "modal_photo", 
                            locals: { url: photo.image.image_url, 
                                      title: photo.title, 
                                      description: photo.description, 
                                      id: "discover"+photo.id.to_s } %>
                <% end %>
            </div>

            <div class="content-post-albums row">
                <% @albums_discover.each do |album| %>
                    <%= render partial: "albums_post", locals: { album: album, type: "discover" } %>
                    <%= render partial: "modal_album", 
                            locals: { url: album.images.pluck(:image_url), 
                                      id: "discover"+album.id.to_s } %>
                <% end %>
            </div>

        </div>

        <div class="col-sm-2 ads-content">

        </div>
    </div>
</div>
