<div class="col-sm-6 title-mode-div">
    <div class="title-title-mode-div">
    <%= f.label :title %><br>
    <%= f.text_field :title %><br>
    </div>
    <div class="mode-title-mode-div">
    <%= f.label :sharing_mode %><br>
    <%= f.select(:private, options_for_select([['public', 0], ['private', 1]])) %>
    </div>
</div>
<div class="col-sm-6 description-div">
    <%= f.label :description %>
    <%= f.text_area :description %>
</div>
<%= f.hidden_field :user_id, value: current_user.id %>

<div class="image-div">
    <%= f.fields_for :images, html: { multipart: true } do |p| %>
        <%= p.label :image_url %>
        <%= p.hidden_field :hi, value: "haha" %>
        <%= p.file_field :image_link, multiple: true, id: "avatar-upload" %>
    <% end %>
    <img id="img_prev" width=300 height=300 src="#" alt="your image" class="img-thumbnail hidden"/> <br/>
    <ul id="photos_clearing" class="clearing-thumbs" data-clearing>
              </ul>
</div>
<%= f.submit "Save" %>